@use "../../../styles/colors" as *;

.WeatherSheet {
  padding: 38px;
  display: grid;
  min-height: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:  "profile profile profile upcomingDays upcomingDays upcomingDays star"
                        "weatherDisplay weatherDisplay weatherDisplay weatherDisplay weatherDisplay weatherDisplay weatherDisplay";
  @media (max-width: 1600px) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:  "profile upcomingDays upcomingDays upcomingDays star"
                        "weatherDisplay weatherDisplay weatherDisplay weatherDisplay weatherDisplay";
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:  "profile star"
                          "upcomingDays upcomingDays"
                          "weatherDisplay weatherDisplay";
    padding: 10px;
  }
}

.star {
  grid-area: star;
  text-align: right;
  img {
    width: 35px;
    border-radius: 50px;
    padding: 3px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
      transition: background-color 0.5s ease-in-out;
    }
  }
  &Inactive {
    img {
      filter: grayscale(100%) brightness(40%) opacity(50%);
      &:hover{
        filter: grayscale(0%) brightness(60%) opacity(80%);
      }
    }
  }
  transition: filter .3s ease;
}

.light {
  color: $dark;
  transition: color .2s ease;
}

.dark {
  color: $light;
  transition: color .2s ease;
}
