.WeatherDisplay{
  grid-area: weatherDisplay;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &UpperInfo{
    padding-left: 11%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 1024px) {
      margin-top: 20px;
      padding-left: 0;
    }
    @media (max-width: 425px) {
      padding-left: 10px;
      justify-content: center;
    }
    .WeatherTemperature{
      span{
        font-size: 172px;
        line-height: 0.9em;
      }

      @media (max-width: 425px) {
        width: 100%;
        span {
          font-size: 3rem;
        }
      }
    }
    .WeatherWrapper{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .WeatherCityInfo{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (max-width: 425px) {
          width: 100%;
        }
        &City{
          p{
            font-size: 84px;
          }
          @media (max-width: 425px) {
            p {
              font-size: 2rem;
            }
          }
        }
        &Date{
          font-size: 25px;
          @media (max-width: 425px) {
            span {
              font-size: 1rem;
            }
          }
        }
      }
      .WeatherType{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 0 0 50px;

        @media (max-width: 1024px) {
          margin: 0;
        }
        &Image{
          img{
            width: 80px;
          }
        }
        &Title{
          font-size: 25px;
        }
      }
    }

  }

  &Hourly{
    margin: 50px 0 0 11%;

    @media (max-width: 1024px) {
      margin: 50px 0 0 0;
      .GlassyBox{
        width: 100%;
        margin: 0 auto;
      }
    }

    .GlassyBox{
      width: 89%;
      @media (max-width: 768px) {
        width: 100%;
        border-radius: 0;
      }
      .HourlyItem{
        padding: 25px 0;
        .WeatherTime{
          font-size: 24px;
        }
        .HourlyWeatherIcon{
          margin: 16px 0;
          img{
            width: 70px;
          }
        }
        .HourlyWeatherTemperature{
            font-size: 40px;
        }
      }
    }
  }
}
