.SearchLocation{
  position: relative;
}
.SearchList{
  margin: 0;
  padding: 0;
  max-height: 250px;
  overflow-y: auto;
  li{
    list-style: none;
    padding: 7px 10px;
    &:hover {
      background-color: rgba(255,255,255, 0.4);
      transition: background-color 0.2s ease-in-out;
    }
    cursor: pointer;
  }
}
