@use "../../../../styles/colors" as *;

.UpcomingDays{
  grid-area: upcomingDays;
  min-width: 390px;
  p{
    font-size: 24px;
  }
  span{
    font-size: 20px;
  }
  @media (max-width: 1025px) {
    min-width: 0;
  }
  .GlassyBox{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    @media (max-width: 768px){
      border-radius: 0;
    }
    .WeatherDay{
      padding: 25px 20px;
        border-radius: 10px;
      &:hover{
        background-color: rgba(255,255,255,0.2);
        transition: background-color 0.5s ease-in-out;
        cursor: pointer;
      }
      .Date{

      }
      .WeatherIcon{
        img{
          width: 60px;
          height: 60px;
          opacity: 0.9;
        }

        margin: 10px 0;
      }
      .AverageTemperature{
        margin: 0 auto;
        max-width: 110px;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

.light {
  color: $dark;
  transition: color .2s ease;
}

.dark {
  color: $light;
  transition: color .2s ease;
}
